<nav class="navbar navbar-expand navbar-light bg-light text-center">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">

          <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Todos</a>

        <a class="nav-link" aria-current="page" [routerLink]="['/completati']" routerLinkActive="active">Completati</a>

        </div>
      </div>
    </div>
  </nav>

